/* 색상 변수에 담아놓기 메인컬러 --mc 서브컬러 --sc */
:root {
    --mc: #6cd2cd;
    --lc: #ddd;
    --wc: #ffffff;
    --dc: #444444;
    --gc: #f9f9f9;
    --bc: #000000;
}

.header {
    position: relative;
    top: 0;
    z-index: 999;
}

.header .header_top_wrap {
    background: var(--mc);
}

.header .header_top_wrap ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10rem;
    height: 50rem;
}

.header .header_top_wrap ul>li a {
    position: relative;

    font-size: 14rem;
    color: var(--wc);
    padding: 2px 13rem;
}

.header .header_top_wrap ul>li:first-child a {
    color: var(--mc);
    background: var(--wc);
    border-radius: 16rem;
}

.header .header_top_wrap ul>li~li:hover a {
    color: var(--mc);
    background: var(--wc);
    border-radius: 16rem;
}

.header .header_top_wrap ul>li:not(:first-child)~li a::before {
    content: "";
    position: absolute;
    left: -5rem;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    background: var(--wc);
}


.header .header_center_wrap {

    background: var(--wc);
    line-height: 25rem;

}

.header .header_center_wrap .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80rem;
}

.header .header_center_wrap ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 20rem;
    gap: 15rem;
}

.header .header_center_wrap ul li p {
    font-size: 10rem;
}


.header .header_center_wrap input[type="text"] {
    width: 300rem;
    height: 30rem;
    font-size: 15rem;
    font-family: 'Diphylleia', serif;
    transition: width 0.5s;
    border: none;
    border-bottom: 2px solid #000;
}

.header .header_center_wrap input[type="text"]:focus {
    width: 350rem;
    height: 30rem;
    outline: none;

}

.header .header_center_wrap input[type="text"]::placeholder {
    color: #ddd;
}

.header .header_center_wrap input[type="text"]:focus::placeholder {
    color: transparent;
}

.header .header_center_wrap button {
    border: none;
    outline: none;
    background: transparent;

    font-size: 25rem;
    vertical-align: middle;
}

.header .header_bottom_wrap {
    background: var(--bc);
}

.header.on .header_bottom_wrap {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;

}

.gnb>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50rem;
}

/* 각 메뉴  */
.gnb>ul>li {
    position: relative;
}

.gnb>ul>li a {
    display: block;
    color: var(--wc);
    font-size: 16rem;
    font-weight: 600;
    padding: 17rem;
    width: 100%;
}



/* 서브 메뉴 만들고 높이를 없애기 */
.gnb>ul>li .sub_menu {
    background: var(--mc);
    position: absolute;
    top: 50rem;
    left: 0;
    z-index: 999;
    padding: 8rem;
    white-space: nowrap;
    /* width: max-content; */

    display: none;
}

.gnb>ul>li .large {
    display: grid;
    grid-template-columns: 1fr 1fr;

    display: none;
}


.gnb>ul>li .sub_menu li a {
    font-weight: 400;
    font-size: 16rem;
    line-height: 20rem;
    padding: 12rem 24rem 8rem 8rem;
}


/* 메뉴에 마우스 갖다대면 서브 메뉴 등장 */
.gnb>ul>li:hover .sub_menu {
    display: grid;
}

.gnb>ul>li:hover {
    background: var(--mc);
}

.gnb>ul>li:hover .sub_menu li {
    background: var(--mc);
}


.gnb>ul>li .sub_menu li:hover {
    background: var(--wc);
}

.gnb>ul>li .sub_menu li:hover a {
    color: var(--mc);
}




/*


메인 슬라이드


*/

.main_visual {
    position: relative;
}


.main_visual .main_slide .itm {
    height: calc(100vh - 180rem);
}


.main_visual .main_slide .itm01 {
    background: url(../images/mbg_01.jpg) no-repeat center top/cover;
}

.main_visual .main_slide .itm02 {
    background: url(../images/mbg_02.jpg) no-repeat center top/cover;
}

.main_visual .main_slide .itm03 {
    background: url(../images/mbg_03.jpg) no-repeat center top/cover;
}


.main_visual .main_slide .itm .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 400rem;
    transform: translate(-50%, -50%);
    color: var(--wc);
    text-shadow: 2rem 2rem 20rem #333;
}

.main_visual .main_slide .itm .content h3 {
    font-size: 32rem;
    font-weight: 400;
    margin: 0 0 40rem 0;
}

.main_visual .main_slide .itm .content strong {
    display: block;
    font-size: 70rem;
    font-weight: 700;
    margin: 0 0 16rem 0;
}


.main_visual .main_slide .itm .content p {
    font-size: 20rem;
    font-weight: 400;
    margin: 0 0 56rem 0;
}

.main_visual .main_slide .itm .content .last {
    margin: 0 0 56rem 0;
}



/* Read More 버튼 긴 선 */
.main_visual .main_slide .itm .content .obtn .circle_line {
    position: relative;
    display: inline-block;
    width: 70rem;
    height: 3rem;
    background: #6cd2cd;
    vertical-align: middle;
    margin: 0 0 0 5rem;

}

/* 버튼 선 긴 선 끝 화살표 */
.main_visual .main_slide .itm .content .obtn .circle_line::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -5rem;
    right: -7rem;
    border-top: 7rem solid transparent;
    border-bottom: 7rem solid transparent;
    border-left: 7rem solid #6cd2cd;
    transition: 0s 0.5s;

}

/* 버튼 선 끝 후버 시 원으로 변화*/
.main_visual .main_slide .itm .content .obtn:hover .circle_line::before {
    content: "";
    position: absolute;
    top: -7rem;
    right: -7rem;
    width: 17rem;
    height: 17rem;
    border: 1px solid #6cd2cd;
    background: #6cd2cd;
    border-radius: 50%;
}

/* 버튼 원 */
.main_visual .main_slide .itm .content .obtn .circle_line::after {
    content: "";
    position: absolute;
    top: 1rem;
    right: -5rem;
    transform: translate(-100%, -50%);
    width: 50rem;
    height: 50rem;
    border: 1px solid var(--wc);
    border-radius: 50%;
    transition: 1s;
}

/* 버튼 원 훕 시 이동 */
.main_visual .main_slide .itm .content .obtn:hover .circle_line::after {
    content: "";
    position: absolute;
    transform: translate(38%, -50%);
    width: 50rem;
    height: 50rem;
    border: 1px solid var(--wc);
}



/* 메인 슬라이드 화살표 */
.main_visual .arrows {
    position: absolute;
    bottom: 100rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 998;
    width: 120rem;
    height: 20rem;
    font-size: 18rem;
    color: var(--wc);
    margin: 0 0 0 -500rem;
}

.main_visual .arrows li {
    cursor: pointer;
    transition: 0.5s;
}

.main_visual .arrows .swiper-pagination01 {
    margin: -20rem 0 0 40rem;
    width: auto;
}


.main_visual .arrows .left {
    display: inline-block;
    margin: 0 0 0 0;
}

.main_visual .arrows .right {
    display: inline-block;
    margin: 0 0 0 77rem;
}


/* 메인 슬라이드 스크롤 효과 */
.main_visual .scroll {
    position: absolute;
    bottom: 100rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 998;
}

.main_visual .scroll span {
    position: relative;
    color: #fff;
    font-size: 12rem;
    text-transform: uppercase;

}

.main_visual .scroll span::before {

    content: "";
    position: absolute;
    top: 20rem;
    left: 50%;
    width: 1rem;
    height: 100rem;
    background: rgba(255, 255, 255, 0.5);
    transform: translate(-50%, 0);
}

.main_visual .scroll span::after {
    content: "";
    position: absolute;
    top: 20rem;
    left: 50%;
    width: 5rem;
    height: 5rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    transform: translate(-50%, 0);

    animation: circle 1.5s infinite cubic-bezier(1, .18, .49, 1.03);

}

@keyframes circle {
    0% {
        transform: translate(-50%, 0);
        outline: 0 solid rgba(255, 255, 255, 1);

    }

    90% {
        outline: 0 solid rgba(255, 255, 255, 1);
    }

    100% {
        transform: translate(-50%, 90px);
        outline: 20px solid rgba(255, 255, 255, 0);
    }
}


/* 


메인 프로그램 섹션


*/

.main_program .program_tab {
    margin: 0 0 36rem 0;
}

.main_program .program_tab .pt_btn {
    cursor: pointer;
    padding: 0 24rem 0 0;
}

.main_program .program_tab .pt_btn strong {
    display: inline-block;
    position: relative;
    font-size: 18rem;
    font-weight: 400;
    margin: 0 0 16rem 0;
    color: #444;
    z-index: 2;

}

.main_program .program_tab .pt_btn strong::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10rem;
    width: 0;
    background: #89dbd7;
    z-index: -1;

}

/* 프로그램 네임을 나누는 점 */
.main_program .program_tab .pt_btn:not(:last-child) strong::after {
    content: "";
    position: absolute;
    right: -18rem;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 5rem;
    width: 5rem;
    background: #d1d1d1;
}

.main_program .program_tab .pt_btn.on strong::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10rem;
    width: 100%;
    background: #89dbd7;
    z-index: -1;
    transition: all 0.3s;
}

.main_program .program_tab .pt_btn:hover strong::before {
    content: "";
    height: 10rem;
    width: 100%;
    background: #89dbd7;
    z-index: -1;
    transition: all 0.2s;
}


/* 메인 프로그램 - 각 탭의 스와이퍼 슬라이드 콘테이너 off */
.main_program .tab_content .sub_slide {
    position: relative;

    display: none;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

/* 메인 프로그램 - 각 탭의 스와이퍼 슬라이드 콘테이너 on */
.main_program .tab_content .sub_slide.on {
    display: block;
    height: 100%;
    visibility: visible;
    overflow: hidden;
}

/* 탭 슬라이드 제목 */
.main_program .tab_content .sub_slide>strong {
    display: block;
    text-align: center;
    font-size: 32rem;
    font-weight: 600;
}


.main_program .tab_content .sub_slide .con .img_box {
    border-radius: 20rem;
    overflow: hidden;
    margin: 50rem 0 15rem 0;
}

.main_program .tab_content .sub_slide .con strong {
    display: block;
    font-size: 20rem;
    font-weight: 500;
    margin: 0 0 16rem 0;
}

.main_program .tab_content .sub_slide .con p {
    font-size: 16rem;
    font-weight: 500;
    font-weight: 500;
    margin: 0 0 4rem 0;
}

.main_program .tab_content .sub_slide .con span {
    font-size: 12rem;
}

/* 스와이퍼css 버튼 크기 수정 참고 */
.main_program .sub_slide .arrow_p .swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #555;
    margin: -145rem 0 0 0;
}

.main_program .sub_slide .arrow_p .swiper-button-prev {
    left: 48%;
}

.main_program .sub_slide .arrow_p .swiper-button-next {
    left: 52%;
}

.main_program .sub_slide .arrow_p .swiper-button-prev::after {
    content: "\e908";
    font-family: xeicon;
    font-size: 24rem;
}

.main_program .sub_slide .arrow_p .swiper-button-next::after {
    content: "\e90b";
    font-family: xeicon;
    font-size: 24rem;
}

/* 

메인 배너 섹션 

*/

.main_service {
    position: relative;
    padding: 100rem 0 0 0;
}

/* 선 */
.main_service::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1170rem;
    height: 0.3rem;
    background: rgba(0, 0, 0, 0.1);
}

.main_service .s_banner {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30rem;
    align-items: center;
}

.main_service .s_banner .img_box img {
    border-radius: 10rem;
}

.main_service .s_banner .txt_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20rem;
}

.main_service .s_banner .txt_box li {

    font-size: 20rem;
    width: 300rem;
    height: 50rem;
    border-radius: 10rem;
    text-align: center;
    background: #f6f6f6;

    line-height: 50rem;

}

.main_service .s_banner .txt_box li:hover {
    background: var(--mc);
    color: var(--wc);
}


/* 

가로 배너 

*/

.main_service .banner {
    padding: 100px 0 0 0;
}

.main_service .banner img {
    width: 100%;
    object-fit: cover;
}

.main_service .banner .swiper-pagination {
    bottom: 15rem;
}

/* 색상 바꿈 */
.swiper-pagination-bullet {
    background: white;
}


/* 

메인 카드 뉴스 탭 

*/

.main_news {
    position: relative;
    background: #eee;
}


.main_news .content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 32rem;
}


/* 왼쪽 분홍색 뉴스 */
.main_news .left_news {
    position: relative;
    background: #fa6e91;
    overflow: hidden;
    border-radius: 20rem;
    padding: 16rem;
    color: var(--wc);
}

.main_news .left_news .img_box {
    margin: 0 0 12rem 0;
    border-radius: 10rem;
    overflow: hidden;

}

.main_news .left_news .img_box img {
    height: 200rem;
    object-fit: cover;
    transition: 0.5s;
}

.main_news .left_news .img_box:hover img {
    transform: scale(1.1);
}

.main_news .left_news strong {
    display: block;
    font-size: 20rem;
    font-weight: 500;
    line-height: 24rem;
    margin: 0 0 10rem 0;
}

.main_news .left_news p {
    font-size: 16rem;
    font-weight: 300;
    line-height: 20rem;
}

.main_news .left_news a>span {
    position: absolute;
    bottom: 16rem;
}

.main_news .left_news a>span::after {
    content: "\e90b";
    font-family: xeicon;
    vertical-align: bottom;
    font-size: 20rem;
}

/* 오른쪽 뉴스 슬라이드 */
.main_news .right_slide {
    position: relative;
    min-width: 0;
}

.main_news img {
    width: 100%;
    height: 240rem;
    object-fit: cover;
}

.main_news .card {
    position: relative;
    padding: 16rem;
    background: var(--wc);
    border-radius: 20rem;
    margin: 0 0 48rem 0;
    min-height: 400rem;
}

.main_news .card .img_box {
    border-radius: 15rem;
    overflow: hidden;
    margin: 0 0 12rem 0;
}

.main_news .card .img_box img {
    transition: .5s;
}

.main_news .card .img_box:hover img {
    transform: scale(1.1);
}

.main_news .card strong {
    display: block;
    font-size: 16rem;
    font-weight: 500;
    line-height: 20rem;
}


.main_news .card span {
    position: absolute;
    bottom: 16rem;
    font-size: 14rem;
}


.main_news .arrows_n {
    position: absolute;
    bottom: 6rem;
    right: 0;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.main_news .arrows_n i {
    font-size: 20rem;
    font-weight: 500;
    cursor: pointer;
}

.main_news .arrows_n .right {
    margin: 0 -24rem 0 40rem;
}

.swiper-scrollbar-drag {
    background: #6cd2cd;
}

.swiper-pagination02 {
    position: absolute;
    bottom: 20rem;
    left: 50%;
    z-index: 1000;
    font-size: 14rem;
    font-weight: 500;
    margin: 0 0 0 364rem;
}



/* 

메인 게시판 섹션

*/

.main_notice {
    background: var(--gc) url(../images/bg_icon.png) no-repeat center left 80%;
    background-attachment: fixed;
}


.main_notice .content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200rem, 1fr));
    gap: 36rem;
}

.main_notice .content .left_notice {
    background-color: var(--wc);
    border-radius: 20rem;
    padding: 24rem;
}

.main_notice .content .left_notice .title_txt {
    position: relative;
    display: grid;
    grid-template-columns: 7fr 1fr;
}

.main_notice .content .left_notice .title_txt:not(:last-child) {
    margin: 0 0 16rem 0;
}

.main_notice .content .left_notice .title_txt strong {
    font-size: 14rem;
    font-weight: 500;
}

.main_notice .content .left_notice .title_txt strong:hover {
    font-weight: 700;
}

.main_notice .content .left_notice span {
    font-size: 12rem;
}


.main_notice .content .right_notice {
    background-color: var(--wc);
    border-radius: 20rem;
    padding: 24rem;
}


.main_notice .content .right_notice span {
    font-size: 20rem;
    font-weight: 500;
}

.main_notice .content .right_notice strong {
    display: inline-block;
    font-size: 40rem;
    font-weight: 700;
    vertical-align: sub;
    margin: 0 0 8rem 24rem;
}

.main_notice .content .right_notice p {
    font-size: 16rem;
    font-weight: 500;
    color: #777;
    margin: 0 0 44rem 0;
}

.main_notice .content .right_notice .btn_blue,
.btn_pink {
    font-size: 20rem;
    font-weight: 500;
    color: #fff;
    border-radius: 10rem;
    padding: 12rem 24rem;
    text-align: center;
}

.main_notice .content .right_notice .btn_blue {
    background: #6cd2cd;
}

.main_notice .content .right_notice .btn_pink {
    background: #fa6e91;
    margin: 0 0 0 8rem;
}


/*  

푸터

*/

.footer {
    background: #36373c;
    padding: 50px 0;
    color: #fff;
}

.footer .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .left_ft {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15rem;
}

.footer .left_ft>ul li {
    position: relative;
}

.footer .left_ft>.customer li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10rem;
    transform: translate(0, -50%);
    width: 1rem;
    height: 12rem;
    background: #788;
}

.footer .left_ft>.contact li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10rem;
    transform: translate(0, -50%);
    width: 1rem;
    height: 12rem;
    background: #788;
}

.footer .sns {
    display: flex;
    gap: 7rem;
}

.footer .sns i {
    padding: 8rem;
    background: #666;
    color: var(--wc);
    font-size: 18rem;
    border-radius: 50%;
}

.footer .customer {
    display: flex;
    gap: 20rem;

    font-size: 15rem;
}

.footer .contact {
    display: flex;
    gap: 20rem;

    color: #ababab;
    font-size: 15rem;
}

.footer .left_ft span {
    font-size: 13rem;
    color: #ababab;
}

.footer .right_ft strong {
    display: block;
    margin: 0 0 10px 0;

    font-size: 18rem;
    font-weight: 500;
}

.footer .right_ft .input_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.footer .right_ft .input_area .input_box ul {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.footer .right_ft input {
    border: none;
    outline: none;
    background-color: #222;
    border-radius: 7rem;
    width: 270rem;
    height: 41rem;
    padding-left: 10rem;
    color: #fff;
}

.footer .right_ft .subscription_box button {
    border: none;
    outline: none;
    background-color: #4a4b4f;
    border-radius: 7rem;
    color: #fff;
    font-size: 16rem;
    height: 87rem;
    padding: 0 15rem;
    cursor: pointer;
}




/* 탑스크롤 */
.to_top {
    position: fixed;
    bottom: 50rem;
    right: 25rem;
    z-index: 999;

    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.to_top.on {
    bottom: 0rem;
    visibility: visible;
    opacity: 1;
}

.to_top i {
    color: #fff;
    background: var(--mc);
    padding: 10rem;
    margin: 20px 5rem;
    border-radius: 50%;
    font-size: 20rem;
    cursor: pointer;
}

.mobile_btn {
    display: none;
}


/* 



반응형



*/


/* 아이폰 반응형 대응 방식 */
@media(max-width: 768px) {

    html {
        /* vw 390인 디바이스를 기준으로 폰트 사이즈를 pc에서 쓰는 rem과 동일하게 만드는 법 */
        font-size: 0.25641025641vw;
        /* 390 size에 맞춤 (16/390*6.25/100) 디자인 사이즈 */
    }

    /* r */
    .sec {
        padding: 50rem 0;
    }

    /* r */
    .sec .title h2 {
        font-size: 40rem;
        font-weight: 800;
        margin: 0 0 36rem 0;
    }

    /* r */
    .header .header_top_wrap {
        display: none;
    }


    /* r */
    .header .header_center_wrap {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1000;
        border-bottom: 1px solid #ddd;
    }

    /* r */
    .header .header_center_wrap .inner {
        transition: 0.5s;
    }

    /* r */
    .header .header_center_wrap.on .inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 20rem;
        gap: 8rem 30rem;
        height: 140rem;
    }

    /* r */
    .header .header_center_wrap input[type="text"] {
        width: 190rem;
        outline: none;
    }

    /* r */
    .header .header_center_wrap input[type="text"]:focus {
        width: 300rem;
    }

    /* r */
    .header .header_center_wrap .search {
        display: none;
    }

    /* r */
    .header .header_center_wrap.on .search {
        display: block;
    }

    /* r */
    .header .header_center_wrap .service {
        display: none;
    }

    /* r */
    .gnb {
        position: fixed;
        inset: 0 auto 0 100%;
        background: #000;
        width: 100%;
        transition: 0.5s;

        /* 하위 메뉴 길이에 따른 스크롤  */
        overflow: auto;
    }

    /* r */
    .gnb.on {

        inset: 0 auto 0 0;
    }

    /* r */
    .gnb>ul {
        flex-direction: column;
        gap: 0;
        padding: 150px 0 0 0;
    }

    /* r */
    .gnb>ul>li:last-child {
        display: none;
    }


    /* r */
    .gnb>ul>li {
        line-height: 30px;
        width: 100%;
        text-align: center;
        border: 1;
    }

    /* r */
    .gnb>ul>li:hover {
        background: none;
    }

    /* r */
    .gnb>ul>li a {
        font-size: 20rem;
    }

    /* r */
    .gnb>ul>li .sub_menu {

        position: static;
        background: var(--wc);
        width: 100%;
    }

    /* r */
    .gnb>ul>li:hover .sub_menu {
        display: none;
    }

    /* r */
    .gnb>ul>li .sub_menu li a {
        color: var(--dc);
        font-size: 16rem;
        font-weight: 500;
        padding: 5rem
    }


    /* r */
    .gnb>ul>li:hover .sub_menu li {
        background: none;
    }

    /* r */
    .gnb>ul>li .sub_menu li:not(:last-child) {
        border-bottom: 1px solid #ddd;
    }

    /*
    
    
    메인 슬라이드
    
    
    */

    /* r */
    .main_visual .main_slide .itm {
        height: 600rem;
    }

    /* r */
    .main_visual .main_slide .itm .content {
        margin: 60rem 0 0 0;
        text-shadow: 1rem 1rem 20rem #000;
    }

    /* r */
    .main_visual .main_slide .itm .content strong {
        font-size: 56rem;
    }


    /* r */
    .main_visual .arrows {
        margin: 0 0 0 0;
        bottom: 0;
    }

    /* r */
    .main_visual .arrows .swiper-pagination01 {
        margin: -20rem 0 0 40rem;
    }

    /* r */
    .main_visual .arrows .left {
        margin: 0 0 0 0;
    }

    /* r */
    .main_visual .arrows .right {
        margin: 0 0 0 78rem;
    }

    /* r */
    .main_visual .scroll {
        display: none;
    }


    /* 
    
    
    메인 프로그램 섹션
    
    
    */

    /* r */
    .main_program .program_tab {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 0 16rem;
        grid-template-columns: repeat(auto-fit, minmax(160rem, 1fr));
        margin: 0 0 16rem 16rem;
    }

    /* r */
    .main_program .program_tab .pt_btn {
        padding: 0 0 0 0;
    }

    /* r */
    .main_program .program_tab .pt_btn strong {
        font-size: 16rem;
        margin: 0 0 16rem 0;
    }

    /* r */
    .main_program .program_tab .pt_btn:not(:last-child) strong::after {
        display: block;
    }

    /* r */
    .main_program .program_tab .pt_btn strong::after {
        content: "";
        position: absolute;
        left: -10rem;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 5rem;
        width: 5rem;
        background: #d1d1d1;
    }

    /* r */
    .main_program .tab_content .sub_slide>strong {
        font-size: 24rem;
        margin: 0 0 -24rem 0;
    }

    /* r */
    .main_program .tab_content .sub_slide .con {
        text-align: center;
    }

    /* r */
    .main_program .sub_slide .arrow_p .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        top: 100%;
        margin: -32rem 0 0 0;
    }

    /* r */
    .main_program .sub_slide .arrow_p .swiper-button-prev {
        left: 10%;
    }

    /* r */
    .main_program .sub_slide .arrow_p .swiper-button-next {
        left: 90%;
    }


    /* 
    
    메인 배너 섹션 
    
    */


    /* r */
    .main_service {
        padding: 50rem 0 0 0;
    }

    /* r */
    .main_service::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 0.3rem;
        background: rgba(0, 0, 0, 0.1);
    }

    /* r */
    .main_service .s_banner {
        grid-template-columns: repeat(auto-fit, minmax(200rem, 1fr));
    }

    /* r */
    .main_service .s_banner img {
        height: 150rem;
        object-fit: cover;
    }

    /* r */
    .main_service .s_banner .txt_box {
        grid-template-columns: repeat(auto-fit, minmax(200rem, 1fr));
    }

    /* r */
    .main_service .s_banner .txt_box li {
        width: 100%;
    }

    /* 
    
    가로 배너 
    
    */

    /* r */
    .main_service .banner {
        padding: 50rem 0 0 0;
    }

    /* r */
    .main_service .banner img {
        height: 170rem;
    }


    /* 
    
    메인 카드 뉴스 탭 
    
    */

    /* r */
    .main_news .content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200rem, 1fr));
        gap: 32rem;
    }

    /* r */
    .main_news .left_news {
        height: 370rem;
    }

    /* r */
    .main_news img {
        height: 200rem;
    }

    /* r */
    .main_news .card {
        min-height: 320rem;
    }

    /* r */
    .swiper-pagination02 {
        bottom: 20rem;
        margin: 0 0 0 117rem;
    }


    /* 
    
    메인 게시판 섹션
    
    */

    /* r */
    .main_notice {
        background: var(--gc) url(../images/bg_icon.png) no-repeat top;
        background-attachment: none;
    }


    /* r */
    .main_notice .content .left_notice .title_txt {
        grid-template-columns: 4fr 1fr;
        gap: 8rem;
    }

    /* r */
    .main_notice .content .right_notice {
        height: 180rem;
        padding: 16rem;
        text-align: center;
    }

    /* r */
    .main_notice .content .right_notice strong {
        font-size: 32rem;
    }

    /* r */
    .main_notice .content .right_notice p {
        font-size: 14rem;
        margin: 0 0 36rem 0;
    }

    /* r */
    .main_notice .content .right_notice .btn_blue,
    .btn_pink {
        font-size: 16rem;
    }


    /*  
    
    푸터
    
    */

    /* r */
    .footer {
        padding: 30rem 0;
    }

    /* r */
    .footer .content {
        flex-direction: column-reverse;
        gap: 40rem;
    }

    /* r */
    .footer .left_ft {
        align-items: center;
        gap: 36rem;
    }

    /* r */
    .footer .left_ft>.contact li~li::before {
        display: none;
    }

    /* r */
    .footer .customer {
        font-size: 14rem;
    }

    /* r */
    .footer .contact {
        flex-direction: column;
        align-items: center;
        gap: 8rem;
        font-size: 14rem;
    }

    /* r */
    .footer .right_ft input {
        width: 100%;
    }



    /* r */
    .mobile_btn {
        /* r */
        display: block;

        position: fixed;
        inset: 15px 15px auto auto;
        z-index: 1000;
        width: 30px;
        height: 30px;
        background: #000;
        border-radius: 5px;
    }

    .mobile_btn::before,
    .mobile_btn::after {
        content: "";
        position: absolute;
        inset: 14px 5px auto 5px;
        height: 2px;
        background: #fff;

    }

    .mobile_btn.on::before {
        transform: rotate(45deg);
        transition: 0.5s 0.2s;
    }

    .mobile_btn.on::after {
        transform: rotate(-45deg);
        transition: 0.5s 0.6s;
    }



    .mobile_btn button {
        border: none;
        outline: none;
        background: transparent;
    }

    .mobile_btn button::before,
    .mobile_btn button::after {
        content: "";
        position: absolute;
        height: 2px;
        background: #fff;
    }

    .mobile_btn button::before {
        inset: 7px 5px auto 5px;
    }

    .mobile_btn button::after {
        inset: auto 5px 7px 5px;
    }

    .mobile_btn.on button::before {
        display: none;
    }

    .mobile_btn.on button::after {
        display: none;
    }

}