/* 색상 변수에 담아놓기 메인컬러 --mc 서브컬러 --sc */
:root {
    --mc: #6cd2cd;
    --lc: #ddd;
    --wc: #ffffff;
    --dc: #444444;
    --gc: #f9f9f9;
    --bc: #000000;
}


.header {
    position: relative;
    top: 0;
    z-index: 999;
}

.header .header_top_wrap {
    background: var(--mc);
}

.header .header_top_wrap ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10rem;
    height: 50rem;
}

.header .header_top_wrap ul>li {}

.header .header_top_wrap ul>li a {
    position: relative;

    font-size: 14rem;
    color: var(--wc);
    padding: 2px 13rem;
}

.header .header_top_wrap ul>li:first-child a {
    color: var(--mc);
    background: var(--wc);
    border-radius: 16rem;
}

.header .header_top_wrap ul>li~li:hover a {
    color: var(--mc);
    background: var(--wc);
    border-radius: 16rem;
}

.header .header_top_wrap ul>li:not(:first-child)~li a::before {
    content: "";
    position: absolute;
    left: -5rem;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    background: var(--wc);
}


.header .header_center_wrap {

    background: var(--wc);
    line-height: 25rem;
}

.header .header_center_wrap .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80rem;
}

.header .header_center_wrap ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 20rem;
    gap: 15rem;
}

.header .header_center_wrap ul li p {
    font-size: 10rem;
}


.header .header_center_wrap input[type="text"] {
    width: 300rem;
    height: 30rem;
    font-size: 15rem;
    font-family: 'Diphylleia', serif;
    transition: width 0.5s;
    border: none;
    border-bottom: 2px solid #000;
}

.header .header_center_wrap input[type="text"]:focus {
    width: 350rem;
    height: 30rem;
    outline: none;

}

.header .header_center_wrap input[type="text"]::placeholder {
    color: #ddd;
}

.header .header_center_wrap input[type="text"]:focus::placeholder {
    color: transparent;
}

.header .header_center_wrap button {
    border: none;
    outline: none;
    background: transparent;

    font-size: 25rem;
    vertical-align: middle;
}

.header .header_bottom_wrap {
    background: var(--bc);
}

.header.on .header_bottom_wrap {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;

}

.gnb>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50rem;
}

.gnb>ul>li a {
    display: block;
    color: var(--wc);
    font-size: 18rem;
    font-weight: 600;
    padding: 16rem;
    width: 100%;
}


/* 각 메뉴  */
.gnb>ul>li {
    position: relative;
}


/* 서브 메뉴 만들고 높이를 없애기 */
.gnb>ul>li .sub_menu {
    height: 0;
    background: var(--mc);
    overflow: hidden;
    position: absolute;
    top: 50rem;
    left: 0;
    transform: translate(0, 0);
    z-index: 999;
    width: max-content;
    transition: 0.3s;
}

.gnb>ul>li .large .sm_right {
    float: right;
}

.gnb>ul>li .large .sm_left {
    float: left;
}

.gnb>ul>li .sub_menu li a {
    font-weight: 500;
    font-size: 16rem;
    line-height: 20rem;
    padding: 8rem 32rem 8rem 8rem;
}


/* 메뉴에 마우스 갖다대면 서브 메뉴 등장 */
.gnb>ul>li:hover .sub_menu {
    height: max-content;
    padding: 16rem;
}

.gnb>ul>li:hover {
    background: var(--mc);
}

.gnb>ul>li:hover .sub_menu li {
    background: var(--mc);
}


.gnb>ul>li .sub_menu li:hover {
    background: var(--wc);
}

.gnb>ul>li .sub_menu li:hover a {
    color: var(--mc);
}




/*


메인 슬라이드


*/

.main_visual {
    position: relative;
}

.main_visual .arrows {
    position: absolute;
    bottom: 100rem;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200rem;
    width: 100%;
    padding: 0 15rem;
    z-index: 998;
    font-size: 18rem;
    color: var(--wc);
}

.main_visual .arrows li {
    cursor: pointer;
    transition: 0.5s;
}

.main_visual .arrows .left {
    position: absolute;
    left: 15rem;
}

.main_visual .arrows .right {
    position: absolute;
    left: 95rem;

}

/* 메인 슬라이드 스크롤 효과 */
.main_visual .scroll {
    position: absolute;
    bottom: 100rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 998;
}

.main_visual .scroll span {
    position: relative;
    color: #fff;
    font-size: 12rem;
    text-transform: uppercase;

}

.main_visual .scroll span::before {

    content: "";
    position: absolute;
    top: 20rem;
    left: 50%;
    width: 1rem;
    height: 100rem;
    background: rgba(255, 255, 255, 0.5);
    transform: translate(-50%, 0);
}

.main_visual .scroll span::after {
    content: "";
    position: absolute;
    top: 20rem;
    left: 50%;
    width: 5rem;
    height: 5rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    transform: translate(-50%, 0);

    animation: circle 1.5s infinite cubic-bezier(1, .18, .49, 1.03);

}

@keyframes circle {
    0% {
        transform: translate(-50%, 0);
        outline: 0 solid rgba(255, 255, 255, 1);

    }

    90% {
        outline: 0 solid rgba(255, 255, 255, 1);
    }

    100% {
        transform: translate(-50%, 90px);
        outline: 20px solid rgba(255, 255, 255, 0);
    }
}





.main_visual .swiper-pagination01 {
    position: absolute;
    top: 0;
    left: 45rem;
    color: var(--wc);

}


.main_visual .main_slide .itm {
    height: calc(100vh - 180px);
}


.main_visual .main_slide .itm01 {
    background: url(../images/mbg_01.jpg) no-repeat center top/cover;
}

.main_visual .main_slide .itm02 {
    background: url(../images/mbg_02.jpg) no-repeat center top/cover;
}

.main_visual .main_slide .itm03 {
    background: url(../images/mbg_03.jpg) no-repeat center top/cover;
}


.main_visual .main_slide .itm .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 400rem;
    transform: translate(-50%, -50%);
    color: var(--wc);
    text-shadow: 1px 1px 0 #444444;
}

.main_visual .main_slide .itm .content h3 {
    font-size: 30rem;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.main_visual .main_slide .itm .content strong {
    display: block;
    font-size: 60rem;
    font-weight: 700;
    margin: 0 0 50px 0;
}

.main_visual .main_slide .itm .content p {
    font-size: 20rem;
    font-weight: 400;
    margin: 0 0 80px 0;
}

/* 버튼 선 */
.main_visual .main_slide .itm .content .obtn .circle_line {
    position: relative;
    display: inline-block;
    width: 70rem;
    height: 3rem;
    background: #6cd2cd;
    vertical-align: middle;
    margin: 0 0 0 5rem;

}

/* 버튼 선 끝 화살표 */
.main_visual .main_slide .itm .content .obtn .circle_line::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -5rem;
    right: -7rem;
    border-top: 7rem solid transparent;
    border-bottom: 7rem solid transparent;
    border-left: 7rem solid #6cd2cd;
    transition: 0s 0.5s;

}

/* 버튼 선 끝 후버 시 원으로 변화*/
.main_visual .main_slide .itm .content .obtn:hover .circle_line::before {
    content: "";
    position: absolute;
    top: -7rem;
    right: -7rem;
    width: 17rem;
    height: 17rem;
    border: 1px solid #6cd2cd;
    background: #6cd2cd;
    border-radius: 50%;
}

/* 버튼 원 */
.main_visual .main_slide .itm .content .obtn .circle_line::after {
    content: "";
    position: absolute;
    top: 1rem;
    right: -5rem;
    transform: translate(-100%, -50%);
    width: 50rem;
    height: 50rem;
    border: 1px solid var(--wc);
    border-radius: 50%;
    transition: 1s;
}

/* 버튼 원 훕 시 이동 */
.main_visual .main_slide .itm .content .obtn:hover .circle_line::after {
    content: "";
    position: absolute;
    transform: translate(38%, -50%);
    width: 50rem;
    height: 50rem;
    border: 1px solid var(--wc);
}


.main_program .program_tab {
    margin: 0 0 36rem 0;
}

.main_program .program_tab .pt_btn {
    cursor: pointer;
    padding: 0 24rem 0 0;
}

.main_program .program_tab .pt_btn strong {
    display: inline-block;
    position: relative;
    font-size: 18rem;
    font-weight: 400;
    margin: 0 0 16rem 0;
    color: #666;
    z-index: 2;

}

.main_program .program_tab .pt_btn strong::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10rem;
    width: 0;
    background: #89dbd7;
    z-index: -1;

}

/* 점 */
.main_program .program_tab .pt_btn:not(:last-child) strong::after {
    content: "";
    position: absolute;
    right: -18rem;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 5rem;
    width: 5rem;
    background: #d1d1d1;
}

.main_program .program_tab .pt_btn.on strong::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10rem;
    width: 100%;
    background: #89dbd7;
    z-index: -1;
    transition: all 0.3s;
}

.main_program .program_tab .pt_btn:hover strong::before {
    content: "";
    height: 10rem;
    width: 100%;
    background: #89dbd7;
    z-index: -1;
    transition: all 0.2s;
}


/* 메인 프로그램 - 각 탭의 스와이퍼 슬라이드 콘테이너 off */
.main_program .tab_content .sub_slide {
    position: relative;

    display: none;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

/* 메인 프로그램 - 각 탭의 스와이퍼 슬라이드 콘테이너 on */
.main_program .tab_content .sub_slide.on {
    display: block;
    height: 100%;
    visibility: visible;
    overflow: hidden;
}

/* 탭 슬라이드 제목 */
.main_program .tab_content .sub_slide>strong {
    font-size: 24rem;
    font-weight: 600;
}


.main_program .tab_content .sub_slide .con .img_box {
    border-radius: 20rem;
    overflow: hidden;
    margin: 50rem 0 15rem 0;
}

.main_program .tab_content .sub_slide .con strong {
    display: block;
    font-size: 20rem;
    font-weight: 500;
    margin: 0 0 16rem 0;
}

.main_program .tab_content .sub_slide .con p {
    font-size: 16rem;
    font-weight: 500;
    font-weight: 500;
    margin: 0 0 4rem 0;
}

.main_program .tab_content .sub_slide .con span {
    font-size: 12rem;
}

/* 스와이퍼css 버튼 크기 수정 참고 */
.main_program .sub_slide .arrow_p .swiper-button-prev {
    position: absolute;
    left: 1100rem;
    top: 65rem;
    transform: translate(-50%, -50%);
    color: #000;
}

.main_program .sub_slide .arrow_p .swiper-button-prev::after {
    content: "\e908";
    font-family: xeicon;
}

.main_program .sub_slide .arrow_p .swiper-button-next {
    position: absolute;
    left: 1150rem;
    top: 65rem;
    transform: translate(-50%, -50%);
    color: #000;
}

.main_program .sub_slide .arrow_p .swiper-button-next::after {
    content: "\e90b";
    font-family: xeicon;
}

/* 

메인 배너 섹션 

*/

.main_service {
    padding: 100px 0 0 0;
}

.main_service .s_banner {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30rem;
    align-items: center;
}

.main_service .s_banner .img_box img {
    border-radius: 10rem;
}

.main_service .s_banner .txt_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20rem;
}

.main_service .s_banner .txt_box li {

    font-size: 20rem;
    width: 300rem;
    height: 50rem;
    border-radius: 10rem;
    text-align: center;
    background: #f6f6f6;

    line-height: 50rem;

}

.main_service .s_banner .txt_box li:hover {
    background: var(--mc);
    color: var(--wc);
}

.main_service {
    position: relative;
}

.main_service::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1170rem;
    height: 0.3rem;
    background: rgba(0, 0, 0, 0.1);
}

/* 

가로 배너 

*/

.main_service .banner {
    padding: 100px 0 0 0;
}

.main_service .banner img {
    width: 100%;
    object-fit: cover;
}

.main_service .banner .swiper-pagination {
    bottom: 15rem;
}

/* 색상 바꿈 */
.swiper-pagination-bullet {
    background: white;
}


/* 

메인 카드 뉴스 탭 

*/
.main_news .content {
    opacity: 0;
    transform: translate(0, 100px);
    transition: .8s;
}


.main_news.on .content {
    opacity: 1;
    transform: translate(0, 0);
}

.main_news {
    position: relative;
    background: #eee;
}



.main_news p {
    font-size: 15rem;
    font-weight: 300;
    line-height: 20rem;
    margin: 0 0 57px 0;
}


.main_news .content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30rem;

}

.main_news .left_news {
    background: #fa6e91;
    overflow: hidden;
    border-radius: 20rem;
    overflow: hidden;
    padding: 15rem;
    margin: -60px 0 0 0;
    color: var(--wc);
}

.main_news .left_news .img_box {
    margin: 0 0 15px 0;
    border-radius: 10rem;
    overflow: hidden;

}



.main_news .left_news .img_box img {
    height: 200rem;
    object-fit: cover;
    transition: 0.5s;
}

.main_news .left_news .img_box:hover img {
    transform: scale(1.1);

}

.main_news .left_news strong {
    display: block;
    font-size: 25rem;
    line-height: 1.5;
    margin: 0 0 20px 0;
}

.main_news .left_news span {
    display: block;
    font-size: 15rem;
    line-height: 1.5;
    margin: 0 0 55px 0;
}

.main_news .left_news .btn {
    display: inline-block;
    border-bottom: 1px solid var(--wc);
    font-size: 17rem;
    overflow: hidden;
    text-align: center;
}


.main_news .right_slide {
    position: relative;
    min-width: 0;
}

.main_news img {
    width: 100%;
    height: 250rem;
    object-fit: cover;
}

.main_news .card {
    position: relative;
    padding: 15rem;
    background: var(--wc);
    border-radius: 10rem;
    margin: 0 0 30px 0;
    min-height: 400rem;
}

.main_news .card .img_box {
    border-radius: 5rem;
    overflow: hidden;
    height: auto;
    margin: 0 0 10px 0;

}

.main_news .card .img_box img {
    transition: .5s;
}

.main_news .card .img_box:hover img {
    transform: scale(1.1);

}



.main_news .card strong {
    display: block;
    margin: 15px 0;
    line-height: 1.5;
    margin: 0 0 10px 0;
}


.main_news .card span {
    position: absolute;
    bottom: 10rem;
    font-size: 14rem;
}


.main_news .arrows_n {
    position: absolute;
    bottom: 0;
    left: 800rem;
    transform: translate(-50%, -50%);
    z-index: 1000;
    color: var(--dc);
    font-size: 0;
}

.main_news .arrows_n .left {
    padding: 2rem;
    font-size: 14rem;
    font-weight: 500;

    margin: 5px 10px 0 -40rem;
    cursor: pointer;
}

.main_news .arrows_n .right {
    padding: 2rem;
    font-size: 14rem;
    font-weight: 500;

    margin: 5px -40px 0 40rem;
    cursor: pointer;
}

.news_slide {
    position: relative;
}

.news_slide .swiper-pagination02 {
    position: absolute;
    bottom: 12rem;
    left: 787rem;
    z-index: 1000;
    font-size: 14rem;
    font-weight: 500;
}

.swiper-scrollbar-drag {
    background: #6cd2cd;
}

/* 

메인 게시판 섹션

*/

.main_notice {
    background: var(--gc) url(../img/bg_icon.png) no-repeat center left 80%;
    background-attachment: fixed;
}


.main_notice .content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30rem;
}

.main_notice .content .left_notice {
    background-color: var(--wc);
    border-radius: 20rem;
    overflow: hidden;
    padding: 40px 30px 20px 30rem;
}

.main_notice .content .left_notice .title_txt {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 15px 0;
}

/* 플렉스 줄긋기 - 포지션을 써서 해결하도록 한다. */
.main_notice .content .left_notice .title_txt::after {
    position: absolute;

    content: "";
    bottom: -5rem;
    left: 0;
    height: 1rem;
    background: #ddd;
    visibility: hidden;
}

/* 키프레임이 더 낫지 않나 싶음 */
.main_notice .content .left_notice .title_txt:hover::after {
    animation: txt 1s both;
    visibility: visible;
}


@keyframes txt {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.main_notice .content .left_notice .title_txt strong {
    font-size: 13rem;
    font-weight: 500;
}

.main_notice .content .left_notice span {
    font-size: 12rem;
}

.main_notice .content .left_notice .btn {
    font-size: 13rem;
    font-weight: 600;
    position: absolute;
    top: -50rem;
    left: 520rem;
}


.main_notice .content .right_notice {
    background-color: var(--wc);
    border-radius: 20rem;
    overflow: hidden;
    padding: 30rem;
}


.main_notice .content .right_notice span {
    font-size: 17rem;
}

.main_notice .content .right_notice strong {
    display: inline-block;
    font-size: 35rem;
    font-weight: 900;
    margin: 0 0 5px 40rem;
    vertical-align: middle;

}

.main_notice .content .right_notice p {
    font-size: 15rem;
    color: #888;
    line-height: 50rem;
    margin: 0 0 15px 0;
}

.main_notice .content .right_notice .btn_blue {
    font-size: 15rem;
    border-radius: 10rem;
    background: #6cd2cd;
    padding: 10px 12rem;
    line-height: 1.5;
    text-align: center;
}

.main_notice .content .right_notice .btn_pink {
    font-size: 15rem;
    border-radius: 10rem;
    background: #fa6e91;
    padding: 10px 12rem;
    line-height: 1.5;
    text-align: center;
}

.footer {
    background: #36373c;
    padding: 50px 0;
    color: #fff;
}

.footer .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .left_ft {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15rem;
}

.footer .left_ft>ul li {
    position: relative;
}

.footer .left_ft>ul:not(:first-child) li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10rem;
    transform: translate(0, -50%);
    width: 1rem;
    height: 12rem;
    background: #788;
}

footer .sns {
    display: flex;
    gap: 7rem;
}

.footer .sns i {
    padding: 8rem;
    background: #666;
    color: var(--wc);
    font-size: 18rem;
    border-radius: 50%;
}

footer .customer {
    display: flex;
    gap: 20rem;

    font-size: 15rem;
}

footer .contact {
    display: flex;
    gap: 20rem;

    color: #ababab;
    font-size: 15rem;
}

.footer .left_ft span {
    font-size: 13rem;
    color: #ababab;
}

.footer .right_ft {}

.footer .right_ft strong {
    display: block;
    margin: 0 0 10px 0;

    font-size: 18rem;
    font-weight: 500;
}

.footer .right_ft .input_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.footer .right_ft .input_area .input_box ul {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.footer .right_ft input {
    border: none;
    outline: none;
    background-color: #222;
    border-radius: 7rem;
    width: 270rem;
    height: 41rem;
    padding-left: 10rem;
    color: #fff;
}

.footer .right_ft .subscription_box button {
    border: none;
    outline: none;
    background-color: #4a4b4f;
    border-radius: 7rem;
    color: #fff;
    font-size: 16rem;
    height: 87rem;
    padding: 0 15rem;
    cursor: pointer;
}




/* 탑스크롤 */
.to_top {
    position: fixed;
    bottom: 50rem;
    right: 25rem;
    z-index: 999;

    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.to_top.on {
    bottom: 0rem;
    visibility: visible;
    opacity: 1;
}

.to_top i {
    color: #fff;
    background: var(--mc);
    padding: 10rem;
    margin: 20px 5rem;
    border-radius: 50%;
    font-size: 20rem;
    cursor: pointer;
}