/* 색상 변수에 담아놓기 메인컬러 --mc 서브컬러 --sc */
:root {
    --mc: #6cd2cd;
    --lc: #ddd;
    --wc: #ffffff;
    --dc: #444444;
    --gc: #f9f9f9;
    --bc: #000000;
}

.header {
    position: relative;
    top: 0;
    z-index: 999;
}

.header .header_top_wrap {
    background: var(--mc);
}

.header .header_top_wrap ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 50px;
}

.header .header_top_wrap ul>li {}

.header .header_top_wrap ul>li a {
    position: relative;

    font-size: 14px;
    color: var(--wc);
    padding: 2px 13px;
}

.header .header_top_wrap ul>li:first-child a {
    color: var(--mc);
    background: var(--wc);
    border-radius: 16px;
}

.header .header_top_wrap ul>li~li:hover a {
    color: var(--mc);
    background: var(--wc);
    border-radius: 16px;
}

.header .header_top_wrap ul>li:not(:first-child)~li a::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 2px;
    background: var(--wc);
}


.header .header_center_wrap {

    background: var(--wc);
    line-height: 25px;
}

.header .header_center_wrap .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header .header_center_wrap ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
    gap: 15px;
}

.header .header_center_wrap ul li p {
    font-size: 10px;
}


.header .header_center_wrap input[type="text"] {
    width: 300px;
    height: 30px;
    font-size: 15px;
    font-family: 'Diphylleia', serif;
    transition: width 0.5s;
    border: none;
    border-bottom: 2px solid #000;
}

.header .header_center_wrap input[type="text"]:focus {
    width: 350px;
    height: 30px;
    outline: none;

}

.header .header_center_wrap input[type="text"]::placeholder {
    color: #ddd;
}

.header .header_center_wrap input[type="text"]:focus::placeholder {
    color: transparent;
}

.header .header_center_wrap button {
    border: none;
    outline: none;
    background: transparent;

    font-size: 25px;
    vertical-align: middle;
}

.header .header_bottom_wrap {
    background: var(--bc);
}

.header.on .header_bottom_wrap {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;

}

.gnb>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

}

.gnb>ul>li a {
    color: var(--wc);
}


/* 각 메뉴  */
.gnb>ul>li {
    position: relative;
    word-wrap: nowrap;
    word-break: keep-all;
    font-size: 17px;
    line-height: 50px;
    width: auto;
    text-align: center;
    vertical-align: middle;
    padding: 0 10px;
    font-family: 'Diphylleia', serif;
    font-weight: 600;
}


/* 서브 메뉴 만들고 높이를 없애기 */
.gnb>ul>li .sub_menu {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 50px;
    left: 0;
    transform: translate(0, 0);
    z-index: 999;
    width: auto;
    text-align: left;
    white-space: nowrap;
    transition: 0.5s;
    background: none;
}

/* 메뉴에 마우스 갖다대면 서브 메뉴 등장 */
.gnb>ul>li:hover .sub_menu {
    height: 700px;
}


.gnb>ul>li .right {
    position: absolute;
    transform: translate(164px, 0);

}


.gnb>ul>li .sub_menu>li {
    font-weight: 500;
    font-size: 15px;
    color: #eee;
    line-height: 3;
    background: var(--mc);
    padding: 0 40px 0 10px;
}


.gnb>ul>li:hover {
    background: var(--mc);
}

.gnb>ul>li:hover .sub_menu li {
    background: var(--mc);
}

.gnb>ul>li .sub_menu>li:hover {
    background: var(--wc);
}

.gnb>ul>li .sub_menu>li:hover a {
    color: var(--mc);
}


/*


메인 슬라이드


*/


.main_visual .arrows {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    z-index: 998;
    font-size: 18px;
    color: var(--wc);
}

.main_visual .arrows li {
    cursor: pointer;
    transition: 0.5s;
}

.main_visual .arrows .left {
    position: absolute;
    left: 0;
}

.main_visual .arrows .right {
    position: absolute;
    left: 100px;

}

.main_visual .swiper-pagination01 {
    position: absolute;
    top: 0;
    left: 40px;
    color: var(--wc);

}


.main_visual .main_slide .itm {
    height: calc(100vh - 180px);
}


.main_visual .main_slide .itm01 {
    background: url(../img/mbg_01.jpg) no-repeat center top/cover;
}

.main_visual .main_slide .itm02 {
    background: url(../img/mbg_02.jpg) no-repeat center top/cover;
}

.main_visual .main_slide .itm03 {
    background: url(../img/mbg_03.jpg) no-repeat center top/cover;
}


.main_visual .main_slide .itm .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 400px;
    transform: translate(-50%, -50%);
    color: var(--wc);
    text-shadow: 1px 1px 0 #444444;
}

.main_visual .main_slide .itm .content h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.main_visual .main_slide .itm .content strong {
    display: block;
    font-size: 60px;
    font-weight: 700;
    margin: 0 0 50px 0;
}

.main_visual .main_slide .itm .content p {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 80px 0;
}

/* 버튼 선 */
.main_visual .main_slide .itm .content .obtn .circle_line {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 3px;
    background: #6cd2cd;
    vertical-align: middle;
    margin: 0 0 0 5px;

}

/* 버튼 선 끝 화살표 */
.main_visual .main_slide .itm .content .obtn .circle_line::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -5px;
    right: -7px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #6cd2cd;
    transition: 0s 0.5s;

}

/* 버튼 선 끝 후버 시 원으로 변화*/
.main_visual .main_slide .itm .content .obtn:hover .circle_line::before {
    content: "";
    position: absolute;
    top: -7px;
    right: -7px;
    width: 17px;
    height: 17px;
    border: 1px solid #6cd2cd;
    background: #6cd2cd;
    border-radius: 50%;
}

/* 버튼 원 */
.main_visual .main_slide .itm .content .obtn .circle_line::after {
    content: "";
    position: absolute;
    top: 1px;
    right: -5px;
    transform: translate(-100%, -50%);
    width: 50px;
    height: 50px;
    border: 1px solid var(--wc);
    border-radius: 50%;
    transition: 1s;
}

/* 버튼 원 훕 시 이동 */
.main_visual .main_slide .itm .content .obtn:hover .circle_line::after {
    content: "";
    position: absolute;
    transform: translate(38%, -50%);
    width: 50px;
    height: 50px;
    border: 1px solid var(--wc);
}


.main_program {}

.main_program .inner {}

.main_program .program_tab {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.main_program .program_tab .screen_tab_btn {
    cursor: pointer;
}

.main_program .program_tab .screen_tab_btn span {
    display: inline-block;
    position: relative;
    font-size: 20px;
    color: #666;
    margin: 0 0 25px 0;
    z-index: 2;
    word-break: keep-all;
    white-space: nowrap;
    font-family: 'Diphylleia', serif;
    font-weight: 600;
}


.main_program .program_tab .screen_tab_btn span::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10px;
    width: 0;
    background: #89dbd7;
    z-index: -1;

}

.main_program .program_tab .screen_tab_btn.on span::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10px;
    width: 100%;
    background: #89dbd7;
    z-index: -1;
    transition: all 0.3s;
}

.main_program .program_tab .screen_tab_btn:hover span::before {
    content: "";
    height: 10px;
    width: 100%;
    background: #89dbd7;
    z-index: -1;
    transition: all 0.2s;
}



/* 점 중앙에 잘 안 들어감 */
/* .main_program .program_tab .screen_tab_btn span::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: calc((100% / 6) + 100%);
    transform: translate(-50%, -50%);

    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #ccc;
} */


.main_program .tab_content .sub_slide {
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.main_program .tab_content .sub_slide.on {
    visibility: visible;
    height: 100%;
    overflow: hidden;
}

.main_program .tab_content .sub_slide .swiper-wrapper {}

/* 탭 슬라이드 제목 */
.main_program .tab_content .sub_slide>strong {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0, 0);
    font-size: 30px;
    font-family: 'Diphylleia', serif;
    font-weight: 600;
}


.main_program .tab_content .sub_slide .con .img_box {
    border-radius: 20px;
    overflow: hidden;
    margin: 50px 0 15px 0;
}

.main_program .tab_content .sub_slide .con .des h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.main_program .tab_content .sub_slide .con .des strong {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.main_program .tab_content .sub_slide .con .des p {
    font-size: 13px;
}

/* 스와이퍼css 버튼 크기 수정 참고 */
.main_program .sub_slide .arrow_p {
    position: relative;
    color: #000;
}

.main_program .sub_slide .arrow_p .swiper-button-prev {
    position: absolute;
    left: 1100px;
    top: -340px;
    transform: translate(-50%, -50%);
    color: #000;


}

.main_program .sub_slide .arrow_p .swiper-button-prev::after {
    content: "\e908";
    font-family: xeicon;
}

.main_program .sub_slide .arrow_p .swiper-button-next {
    position: absolute;
    left: 1150px;
    top: -340px;
    transform: translate(-50%, -50%);
    color: #000;
}

.main_program .sub_slide .arrow_p .swiper-button-next::after {
    content: "\e90b";
    font-family: xeicon;
}

.main_service {}

.main_service .content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    align-items: center;
}

.main_service .content .img_box img {
    border-radius: 10px;
}

.main_service .content .txt_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
}

.main_service .content .txt_box li {

    font-size: 20px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    background: #f6f6f6;

    line-height: 50px;

}

.main_service .content .txt_box li:hover {
    background: var(--mc);
    color: var(--wc);
}

.main_service {
    position: relative;
}

.main_service::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1170px;
    height: 0.3px;
    background: rgba(0, 0, 0, 0.1);
}

.main_service .banner {
    padding: 100px 0 0 0;
}

.main_service .banner .img_box {
    width: 100%;
}

.main_service .banner .swiper-pagination {
    bottom: 15px;
}

/* 색상 바꿈 */
.swiper-pagination-bullet {
    background: white !important;
}


/* 메인 카드 뉴스 탭 */
/* .main_notice .content {
    opacity: 0;
    transform: translate(0, 100px);
    transition: .8s;
}


.main_notice.on .content {
    opacity: 1;
    transform: translate(0, 0);
} */

.main_notice {
    position: relative;
    background: #eee;
}


.main_notice p {
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    margin: 0 0 57px 0;
}


.main_notice .content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;

}

.main_notice .left_news {
    background: #fa6e91;
    overflow: hidden;
    border-radius: 20px;
    overflow: hidden;
    padding: 15px;
    margin: -60px 0 0 0;
    color: var(--wc);
}

.main_notice .left_news .img_box {
    margin: 0 0 15px 0;
    border-radius: 10px;
    overflow: hidden;

}



.main_notice .left_news .img_box img {
    height: 200px;
    object-fit: cover;
    transition: 0.5s;
}

.main_notice .left_news .img_box:hover img {
    transform: scale(1.1);

}

.main_notice .left_news strong {
    display: block;
    font-size: 25px;
    line-height: 1.5;
    margin: 0 0 20px 0;
}

.main_notice .left_news span {
    display: block;
    font-size: 15px;
    line-height: 1.5;
    margin: 0 0 55px 0;
}

.main_notice .left_news .btn {
    display: inline-block;
    border-bottom: 1px solid var(--wc);
    font-size: 17px;
    overflow: hidden;
    text-align: center;
}


.main_notice .right_slide {
    position: relative;
    min-width: 0;
}

.main_notice img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.main_notice .card {
    position: relative;
    padding: 15px;
    background: var(--wc);
    border-radius: 10px;
    margin: 0 0 30px 0;
    min-height: 400px;
}

.main_notice .card .img_box {
    border-radius: 5px;
    overflow: hidden;
    height: auto;
    margin: 0 0 10px 0;

}

.main_notice .card .img_box img {
    transition: .5s;
}

.main_notice .card .img_box:hover img {
    transform: scale(1.1);

}



.main_notice .card strong {
    display: block;
    margin: 15px 0;
    line-height: 1.5;
    margin: 0 0 10px 0;
}


.main_notice .card span {
    position: absolute;
    bottom: 10px;
    font-size: 14px;
}


.main_notice .arrows {
    position: absolute;
    bottom: 0;
    left: 800px;
    transform: translate(-50%, -50%);
    z-index: 1000;

}

.main_notice .arrows .left {
    padding: 2px;
    font-size: 14px;
    font-weight: 800;
    color: var(--dc);

    margin: 5px 0 0 -20px;
    cursor: pointer;
}

.main_notice .arrows .right {
    padding: 2px;
    font-size: 14px;
    font-weight: 800;
    color: var(--dc);
    margin: 5px -25px 0 50px;
    cursor: pointer;
}

.notice_slide {
    position: relative;
}

.notice_slide .swiper-pagination02 {
    position: absolute;
    bottom: 11px;
    left: 787px;
    z-index: 1000;
    font-size: 14px;
    font-weight: 500;
}

.swiper-scrollbar-drag {
    background: #6cd2cd !important;
}